probeinterface.egg-info/*

tests/*.prb
tests/*.json
tests/*/*.prb

*.prb
tests/*/*.json
tests/*/*.tsv
tests/*.h5

examples/*.prb
examples/*.h5

ressources/*/*
build/*

*.pyc
dist/*
doc/_*
doc/examples/*

dev_*
.coverage
cov.xml
.DS_Store


neuropixel_library_generated/*
