probeinterface.egg-info/*

tests/*.prb
tests/*.json
tests/*/*.prb

*.prb
tests/*/*.json
tests/*/*.tsv
tests/*.h5

examples/*.prb
examples/*.h5
examples/*.json

ressources/*/*
build/*

*.pyc
dist/*
doc/_*
doc/examples/*
doc/sg_execution_times.rst

dev_*
.coverage
cov.xml
.DS_Store

uv.lock

# libraries
**/neuropixels_library_generated
**/cambridgeneurotech_library
.codex
