name: Complete tests

on:
  pull_request:
      branches: [main]
      types: [synchronize, opened, reopened]
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * *"  # Daily at noon UTC


jobs:
  build-and-test:

    name: ${{ matrix.os }} Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.14"]  # Lower and higher versions we support
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install package
      run: |
        python -m pip install --upgrade pip
        pip install .[test]
    - name: Pytest
      run: |
        pytest -m "not library" -v
    - name: Pytest library tests
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: |
        pytest -m library -v
